@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');



* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 20px;
    padding-top: 40px;
    font-family: 'Rubik', sans-serif;
    background-color: hsl(270, 20%, 96%);
    position: relative;
}

/* left back gradient */
.left__back__gradient {
    width: 400px;
    height: 80vh;
    background: linear-gradient(45deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    top: 0;
    left: -80px;
    z-index: -1;
}

.right__back__gradient {
    width: 400px;
    height: 80vh;
    background: linear-gradient(45deg, hsl(264, 100%, 61%, 0.03), hsl(293, 100%, 63%, 0.03));
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    position: absolute;
    bottom: -50px;
    right: -80px;
    z-index: -1;

}

/* App section */
.app__section {
    width: 276px;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    height: 500px;
    box-shadow: 0 0 10px 2px hsl(270, 7%, 64%);
}

/* Text section */
.text__section {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.app__container {
    background-color: hsl(270, 20%, 96%);
    border-radius: 20px;
}



.app__banner {
    background: linear-gradient(90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    width: 100%;
    border-radius: 20px 20px 4px 4px;
    display: flex;
    padding: 8px 20px;
    align-items: center;
}


.bx.bx-chevron-left {
    color: #fff;
}
.bx.bx-dots-vertical-rounded {
    color: #fff;
}

.app__logo {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    margin-right: 10px;

}

.app__title {
    font-weight: 700;
    color: hsl(270, 20%, 96%);
}

.app__subtitle {
    font-weight: 200;
    font-size: small;
    color: hsl(276, 100%, 81%);
}

.app__heading {
    margin-right: auto;
}
 
.chat__section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;

}

.chat__box {
    width: 70%;
    font-size: 10px;
    padding: 8px;
    border-radius: 10px;
}

.left__chat {
    color: hsl(276, 55%, 52%);
    background-color: hsl(276, 65%, 86%);
}

.right__chat {
    color: hsl(271, 15%, 43%);
    background-color: #fff;
    align-self: flex-end;
}

.dog__images {
    width: 45px;
    object-fit: contain;
    border-radius: 10px;
}

.chat__price {
    font-weight: 500;
    color: #fff;
}

.chat__images {
    justify-content: space-evenly;
    display: flex;
    gap: 5px;
} 

.walk__duration {
    display: flex;
    justify-content: space-between;
    color: hsl(276, 100%, 81%);
    background: linear-gradient(90deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    
}

.walk__radio {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid hsl(289, 100%, 72%);
}

.reply {
    align-self: center;
    background-color: #fff;
    color: gray;
    width: 100%;
    margin-bottom: 2px;
    padding: 6px;
    padding-left: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.submit__button {
    margin-left: auto;
    background-color: hsl(271, 36%, 24%);
    padding: 6px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.submit__button i {
    color: #fff;
}


/* Text section */

.text__section__heading {
    color: hsl(271, 36%, 24%);
    line-height: 1.4;
    font-weight: 500;
}

.text__section__description {
    color: hsl(270, 7%, 64%);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }



@media screen and (min-width: 1440px){
    body {
        width: 1440px;
    }
}

@media screen and (max-width: 375px){
    body {
        width: 375px;
    }
}

